@use '../../styles/variables' as *;

.controls {
	grid-area: controls;
	position: absolute;
	left: 80px;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	@media (max-width: $breakpoint-tablet) {
		left: 20px;
		bottom: 20px;
	}
}

.controlsContainer {
	display: flex;
	align-items: center;
	gap: 20px;
	@media (max-width: $breakpoint-tablet) {
		gap: 15px;
	}
	@media (max-width: $breakpoint-mobile) {
		align-items: center;
		gap: 10px;
	}
}

.slideCounter {
	font-family: $font-main;
	font-size: 14px;
	color: $primary-color;
	text-align: left;
	margin-bottom: 20px;
	@media (max-width: $breakpoint-mobile) {
		margin-bottom: 5px;
		margin-bottom: 10px;
	}
}

.controlButton {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid $primary-color-half-opacity;
	background: $light-bg;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;

	svg {
		width: 10px;
		height: 14px;
		transition: opacity 0.2s ease;
		@media (max-width: $breakpoint-mobile) {
			width: 6px;
			height: 10px;
		}
	}
	&:hover {
		background: $light-bg;
		transform: scale(1.03);
	}

	&:active {
		border: 1px solid $primary-color-opacity;
		background: $light-bg;
		transform: scale(0.85);
		svg {
			width: 10px;
			height: 14px;
			opacity: 0.2;
			@media (max-width: $breakpoint-mobile) {
				width: 6px;
				height: 10px;
			}
		}
	}
	@media (max-width: $breakpoint-laptop) {
		width: 45px;
		height: 45px;
	}
	@media (max-width: $breakpoint-tablet) {
		width: 35px;
		height: 35px;
	}
	@media (max-width: $breakpoint-mobile) {
		width: 25px;
		height: 25px;
	}
}
