@use '../../styles/variables' as *;

.controls {
	grid-area: controls;
	position: absolute;
	left: 80px;
	bottom: -60px;
	display: flex;
	gap: 20px;
}

.controlButton {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid $primary-color-half-opacity;
	background: $light-bg;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;

	transition: all 0.3s ease;
	&:hover {
		background: $light-bg;
		transform: scale(1.03);
	}

	&:active {
		border: 1px solid $primary-color-opacity;
		background: $light-bg;
		transform: scale(0.85);
	}

	svg {
		width: 10px;
		height: 14px;
	}
}

.prevButton {
	svg {
		transform: rotate(0);
	}
}
.nextButton {
	svg {
		transform: rotate(0);
	}
}

@media (max-width: $breakpoint-mobile) {
	.controls {
		justify-content: center;
		margin-top: 20px;
	}
}
