@use '../../styles/variables' as *;

.sliderContainer {
	grid-area: slider;
	width: 100%;
	padding: 20px 80px;
	overflow: hidden;

	.swiper {
		width: 100%;
		padding: 20px 0;

		.swiper-wrapper {
			display: flex;
			width: auto !important;
		}

		.swiper-slide {
			width: 300px !important;
			flex-shrink: 0;
			max-width: 100%;
		}
	}

	.sliderControls {
		display: flex;
		width: 100%;
		justify-content: space-between;
		position: absolute;
		top: 30%;
		gap: 20px;
		z-index: 50;

		.controlButton {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			border: transparent;
			background: $white;
			box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			will-change: transform;
			transition: background ease 0.25s, border ease 0.25s, transform ease 0.25s;

			&:hover {
				background: $light-bg;
				border: 1px solid $primary-color-opacity;
			}
			&:active {
				transform: scale(0.85);
			}
		}
	}
}

@media (max-width: $breakpoint-mobile) {
	.sliderContainer {
		padding: 0;

		.swiper {
			padding: 10px 0;
		}

		.sliderControls {
			justify-content: center;
			margin-top: 20px;
		}
	}
}
