@use '../../styles/variables' as *;

.point {
	display: flex;
	width: 6px;
	height: 6px;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 6px;
	height: 6px;
	background: $primary-color;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	transform-origin: center;
	will-change: width, height;
	transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), background 0.3s ease, border 0.3s ease 0.2s;
	z-index: 20;
	* {
		user-select: none;
		-webkit-user-select: none;
	}

	&.active {
		width: 56px;
		height: 56px;
		background: $light-bg;
		border: 1px solid $primary-color-half-opacity;
		z-index: 30;
		@media (max-width: $breakpoint-mobile) {
			width: 6px;
			height: 6px;
			border: transparent;
			background: $primary-color;
		}
	}
	&:hover {
		width: 56px;
		height: 56px;
		background: $light-bg;
		border: 1px solid $primary-color-half-opacity;
		z-index: 30;
		@media (max-width: $breakpoint-mobile) {
			width: 6px;
			height: 6px;
			border: transparent;
			background: $primary-color;
		}

		.tooltipIndex {
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: $font-main;
			font-weight: 500;
			font-size: 20px;
			@media (max-width: $breakpoint-mobile) {
				display: none;
			}
		}
	}
}

.tooltipIndex {
	display: none;
	&.active {
		display: flex;
		font-family: $font-main;
		font-weight: 500;
		font-size: 20px;
		align-items: center;
		justify-content: center;
	}
	@media (max-width: $breakpoint-mobile) {
		display: none;
	}
}

.tooltip {
	position: absolute;
	left: 80px;
	z-index: 40;
	white-space: nowrap;
	display: flex;
	align-items: center;
	backface-visibility: hidden;
	will-change: transform;
	opacity: 0;
	transition: opacity 0.3s ease-in-out 0.8s;
	transform-origin: -50px center;

	&.active {
		opacity: 1;
		pointer-events: none;
	}
	@media (max-width: $breakpoint-mobile) {
		display: none;
	}
}

.tooltipTitle {
	font-family: $font-main;
	font-weight: 700;
	font-size: 20px;
	color: $primary-color;
	display: none;
	&.active {
		display: flex;
	}
}

.mobilePoint {
	display: flex;
	width: 6px;
	height: 6px;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
	background: $primary-color-opacity;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	transform-origin: center;
	will-change: width, height;
	transition: width 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
		height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), background 0.3s ease, border 0.3s ease 0.2s;
	z-index: 20;
	* {
		user-select: none;
		-webkit-user-select: none;
	}
	&.active {
		width: 8px;
		height: 8px;
		background: $primary-color;
	}
}
