@use '../../styles/variables' as *;

.titleContainer {
	grid-area: title;
	display: flex;
	align-items: center;
	max-width: 40%;
	position: absolute;
	left: 0;
	top: 70px;

	@media (max-width: $breakpoint-tablet) {
		top: 50px;
	}
	@media (max-width: $breakpoint-mobile) {
		top: 10%;
	}
}

.gradientLine {
	width: 5px;
	height: 120px;
	background: linear-gradient(180deg, $accent-start 0%, $accent-end 100%);
	margin-right: 80px;
	flex-shrink: 0;
	@media (max-width: $breakpoint-laptop) {
		height: 90px;
	}
	@media (max-width: $breakpoint-tablet) {
		margin-right: 40px;
	}
	@media (max-width: $breakpoint-mobile-s) {
		display: none;
	}
}

.title {
	font-family: $font-main;
	font-weight: 700;
	font-size: 56px;
	line-height: 120%;
	color: $primary-color;
	max-width: 100%;
	@media (max-width: $breakpoint-laptop) {
		font-size: 42px;
		text-align: left;
	}
	@media (max-width: $breakpoint-mobile) {
		font-size: 32px;
	}
	@media (max-width: $breakpoint-mobile-s) {
		font-size: 20px;
		text-align: left;
		margin-left: 20px;
	}
}
