@use '../../styles/variables' as *;

.yearCounter {
	font-family: $font-main;
	font-weight: 700;
	font-size: 200px;
	opacity: 1;
	transition: color 0.3s ease;
	text-align: center;
	min-width: 300px;
	max-width: 100%;
	overflow: hidden;

	@media (max-width: $breakpoint-tablet) {
		font-size: 16vw;
	}
}
